.texto{
    color: #3D808C!important;
    font-weight: bold;
}

.izquierda{
    text-align: left!important;
}

.derecha{
    text-align: right!important;
}

.borde{
    border-right-color: #40B9C7!important;
    border-right-style: solid!important;
    box-shadow: 2px 0px #888888!important;
}

.anchoBoton{
    width: 50%!important;
}

.obligatorio{
    color: red!important;
}

.centro{
    text-align: center;
}

.concluido{
    background-color: #1EE8A8!important;
}

.pendiente{
    background-color: #FFF17E!important;
}

.vencido{
    background-color: #FFB061!important;
}

.rechazado{
    background-color:#FF6F61!important;
}

.detenido{
    background-color:#ADB0B6!important;
}

.cancelado{
    background-color:#5B5C5E!important;
}