.tabla {
    width: 100%;
    text-align: left;
}

.colorBlueMenu {
    background-color: #3c8891 !important;
    cursor: pointer !important;
    color: white !important;
    line-height: 1;
    font-size: 10pt;
    padding: 5px 5px 0px 5px;
}

.colorNoMenu {
    cursor: pointer !important;
    line-height: 1 !important;
    font-size: 10pt;
    padding: 5px 5px 0px 5px;
}

.colorWhite {
    color: white !important;
    text-align: center;
}

.columna {
    width: 5%;
}
.columna img{
    padding: 0 4%!important;
}

.menu {
    width: 40%;
}

.boton {
    width: 25%;
}

.egupload {
    text-align: right;
}

img {
    cursor: pointer;
    vertical-align: bottom;
}

.cluster {
    background-color: lightseagreen;
    text-align: left;
}

.filaTerreno {
    background-color: lightskyblue;
    text-align: left;
    padding-left: 20px;
}

.contenedor {
    width: 100%;
}

.columnaActividad {
    text-align: left;
    padding-left: 25px;
}

.filaActividad {
    border-style: solid;
    border-width: 1px;
    border-color: lightslategrey;
    background-color: lightcyan;
}

p {
    margin: 5px;
}

.hr {
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

.nombreTerreno {
    width: 35%;
    padding-top: 7px;
    font-size: 12pt;
    font-weight: 0px;
    color: #75e7bc !important;
}

.presionado {
    border-style: inset !important;
    border-radius: 100% !important;
}

.normal {
    border-radius: 100% !important;
}

.badge-secondary {
    background-color: transparent !important;
}