.tabla {
    width: 100%;
    text-align: left;
}

.colorBlueMenu {
    background-color: #3C8891!important;
    width: 25%!important;
    cursor: pointer!important;
    color: white!important;
    line-height: 1;
}

.colorNoMenu {
    width: 25%!important;
    cursor: pointer!important;
    line-height: 1;
}

.colorWhite {
    color: white!important;
    text-align: center;
}

.columna {
    width: 5%;
}

.menu {
    width: 40%;
}

.boton {
    width: 25%;
}

.egupload {
    text-align: right;
}

img {
    cursor: pointer;
    vertical-align: bottom;
}

.cluster {
    background-color: lightseagreen;
    text-align: left;
}

.filaTerreno {
    background-color: lightskyblue;
    text-align: left;
    padding-left: 20px;
}

.contenedor {
    width: 100%;
}

.columnaActividad {
    text-align: left;
    padding-left: 25px;
}

.filaActividad {
    border-style: solid;
    border-width: 1px;
    border-color: lightslategrey;
    background-color: lightcyan;
}

p {
    margin: 5px;
}

.hr {
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

.nombreTerreno {
  width: 35%;
  padding-top: 7px;
  font-size: 15pt;
  font-weight: 0px;
  color: #75E7BC!important;
}

.presionado{
    border-style: outset!important;
    border-radius: 2em/2em!important;
}

.normal{
    border-radius: 2em/2em!important;
}