.titulo{
  font-size: 12pt !important;
  font-weight: bold;
  text-align: left !important;
  
  color: black!important;
  border-radius: 3%;

  background: rgba(48,190,143,1);
  background: -moz-linear-gradient(left, rgba(48,190,143,1) 0%, rgba(51,185,140,1) 20%, rgba(61,170,133,1) 75%, rgba(65,163,130,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(48,190,143,1)), color-stop(20%, rgba(51,185,140,1)), color-stop(75%, rgba(61,170,133,1)), color-stop(100%, rgba(65,163,130,1)));
  background: -webkit-linear-gradient(left, rgba(48,190,143,1) 0%, rgba(51,185,140,1) 20%, rgba(61,170,133,1) 75%, rgba(65,163,130,1) 100%);
  background: -o-linear-gradient(left, rgba(48,190,143,1) 0%, rgba(51,185,140,1) 20%, rgba(61,170,133,1) 75%, rgba(65,163,130,1) 100%);
  background: -ms-linear-gradient(left, rgba(48,190,143,1) 0%, rgba(51,185,140,1) 20%, rgba(61,170,133,1) 75%, rgba(65,163,130,1) 100%);
  background: linear-gradient(to right, rgba(48,190,143,1) 0%, rgba(51,185,140,1) 20%, rgba(61,170,133,1) 75%, rgba(65,163,130,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30be8f', endColorstr='#41a382', GradientType=1 );
}

.item{
  background-color: whitesmoke;
  border: white;
  border-style: solid;
  border-width: 1pt;
  font-weight: normal!important;
  color: black;
  font-size: 10pt;
  margin-left: 5px;
}

.item-personal{
  background-color: #D9D9D9;
  border: white;
  border-style: solid;
  border-width: 1pt;
  font-weight: normal!important;
  color: black;
  font-size: 10pt;
  margin-left: 5px;
}

.empty-space{
  background-color:white!important;
  height: 10pt;
}

.checkBox{
  width: 15pt;
  height: 15pt;
  background-color: #B9B9B9;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #B9B9B9;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkBox:hover{
  transform: scale(1.2);
}

.checkBox:checked {
  background-color: #67C100;
  border: 1px solid #67C100;
}

.checkBox-sm{
  width: 10pt;
  height: 10pt;
  background-color: #B9B9B9;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #B9B9B9;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkBox-sm:hover{
  transform: scale(1.2);
}

.checkBox-sm:checked {
  background-color: #67C100;
  border: 1px solid #67C100;
}

.ok{
  text-align: right;
}